<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postify: <%=post.username%></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>username: @<%=post.username%></h1>
    <h3>id: <%=post.id%></h3>
    <img src="<%=post.pic%>" alt="post img">
    <h4>content: <%=post.content%></h4>
</body>
</html>